{{#each users}}

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{{img}}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
      <div class="media-content">
       <a href="{{_id}}"><p class="title is-4">{{firstName}}{{lastName}}</p></a>
        <p class="subtitle is-6">{{username}}</p>
          <h1>{{email}}</h1>.
      </div>
    </div>
  </div>
</div>

{{#each comments}}

{{/each}}
{{/each}}


